In [1]:
import tyr

# Required to get relative path of test datasets
import os

from pprint import pprint

In [2]:
# Load schema from pkl
source = tyr.lineage.schema.core.load_schema_from_pkl(
    os.path.abspath(os.path.join(os.getcwd(), "..", "tests/saved_schema/source.pkl"))
)
staging = tyr.lineage.schema.core.load_schema_from_pkl(
    os.path.abspath(os.path.join(os.getcwd(), "..", "tests/saved_schema/staging.pkl"))
)

In [3]:
# Defining connections
conn = tyr.database.connections.Connection(
    name="test",
    syntax="duckdb",
    database=os.path.abspath(os.path.join(os.getcwd(), "..", "tests/test.duckdb")),
    read_only=False,
)

In [4]:
# Before creating schema we need to execute the settings code to ensure the tables can be built
print(source.settings.sql)
conn.execute(source.settings.sql)

print("\n")

print(staging.settings.sql)
conn.execute(staging.settings.sql)

INSTALL 'spatial';

LOAD 'spatial'


INSTALL 'spatial';

LOAD 'spatial'

In [5]:
# Create the schema. Build upstream schema first
print("SOURCE")
print("________________________________________________________________________")
tyr.database.core.create_tables(source, conn=conn)

print("\n")
print("STAGING")
print("________________________________________________________________________")
tyr.database.core.create_tables(staging, conn=conn)

SOURCE
________________________________________________________________________
Retrieving build order...
Iterating through build order...
car_location
car_telemetry
circuits
meetings
race_control
session_status
track_status
sessions
weather
results
['car_location', 'car_telemetry', 'circuits', 'meetings', 'race_control', 'session_status', 'track_status', 'sessions', 'weather', 'results']
DROP TABLE IF EXISTS source.car_location;

CREATE TABLE source.car_location AS
SELECT DISTINCT *
FROM read_csv_auto('/home/miles/tyr/tests/datasets/car_location_session_*.tsv', delim='\t', header=True, union_by_name=True)
DROP TABLE IF EXISTS source.car_telemetry;

CREATE TABLE source.car_telemetry AS
SELECT DISTINCT *
FROM read_csv_auto('/home/miles/tyr/tests/datasets/car_telemetry_session_*.tsv', delim='\t', header=True, union_by_name=True)
DROP TABLE IF EXISTS source.circuits;

CREATE TABLE source.circuits AS
SELECT DISTINCT *
FROM st_read('/home/miles/tyr/tests/datasets/f1_circuits.geojson')
DROP TABLE IF EXISTS source.meetings;

CREATE TABLE source.meetings AS
SELECT DISTINCT *
FROM read_csv_auto('/home/miles/tyr/tests/datasets/meetings.tsv', delim='\t', header=True)
DROP TABLE IF EXISTS source.race_control;

CREATE TABLE source.race_control AS
SELECT DISTINCT *
FROM read_csv_auto('/home/miles/tyr/tests/datasets/race_control_session_*.tsv', delim='\t', header=True, union_by_name=True)
DROP TABLE IF EXISTS source.session_status;

CREATE TABLE source.session_status AS
SELECT DISTINCT *
FROM read_csv_auto('/home/miles/tyr/tests/datasets/session_status_session_*.tsv', delim='\t', header=True, union_by_name=True)
DROP TABLE IF EXISTS source.track_status;

CREATE TABLE source.track_status AS
SELECT DISTINCT *
FROM read_csv_auto('/home/miles/tyr/tests/datasets/track_status_session_*.tsv', delim='\t', header=True, union_by_name=True)
DROP TABLE IF EXISTS source.sessions;

CREATE TABLE source.sessions AS
SELECT DISTINCT *
FROM read_csv_auto('/home/miles/tyr/tests/datasets/sessions.tsv', delim='\t', header=True)
DROP TABLE IF EXISTS source.weather;

CREATE TABLE source.weather AS
SELECT DISTINCT *
FROM read_csv_auto('/home/miles/tyr/tests/datasets/weather_session_*.tsv', delim='\t', header=True, union_by_name=True)
DROP TABLE IF EXISTS source.results;

CREATE TABLE source.results AS
SELECT DISTINCT *
FROM read_csv_auto('/home/miles/tyr/tests/datasets/results_session_*.tsv', delim='\t', header=True, union_by_name=True)


STAGING
________________________________________________________________________
Retrieving build order...
Iterating through build order...
car_location
car_telemetry
circuits
meetings
race_control
session_status
track_status
sessions
weather
results
['car_location', 'car_telemetry', 'circuits', 'meetings', 'race_control', 'session_status', 'track_status', 'sessions', 'weather', 'results']
DROP TABLE IF EXISTS staging.car_location;

CREATE TABLE staging.car_location AS
SELECT DISTINCT STRPTIME(CASE
                             WHEN REGEXP_FULL_MATCH(RIGHT(TRY_CAST("Date" AS VARCHAR), 6), CAST('\s\d{2}\:\d{2}' AS VARCHAR)) THEN CONCAT(TRY_CAST("Date" AS VARCHAR), CAST(':00.000' AS VARCHAR))
                             WHEN REGEXP_FULL_MATCH(RIGHT(TRY_CAST("Date" AS VARCHAR), 7), CAST('\:\d{2}\.\d{0,2}' AS VARCHAR)) THEN REGEXP_REPLACE(TRY_CAST("Date" AS VARCHAR), CAST('\:\d{2}\.\d{0,2}' AS VARCHAR), RPAD(REGEXP_EXTRACT(RIGHT(TRY_CAST("Date" AS VARCHAR), 7), CAST('\:\d{2}\.\d{0,2}' AS VARCHAR), 1), 6, CAST('0' AS VARCHAR)))
                             WHEN REGEXP_FULL_MATCH(RIGHT(TRY_CAST("Date" AS VARCHAR), 3), CAST('\:\d{2}' AS VARCHAR)) THEN CONCAT(TRY_CAST("Date" AS VARCHAR), CAST('.000' AS VARCHAR))
                             ELSE TRY_CAST("Date" AS VARCHAR)
                         END, CAST('%Y-%m-%d %H:%M:%S.%g' AS VARCHAR)) AS event_ts,
                TRY_CAST("Status" AS VARCHAR) AS status,
                ROUND(TRY_CAST("X" AS DECIMAL(15, 5)), 1) AS x,
                ROUND(TRY_CAST("Y" AS DECIMAL(15, 5)), 1) AS y,
                ROUND(TRY_CAST("Z" AS DECIMAL(15, 5)), 1) AS z,
                TRY_CAST("Source" AS VARCHAR) AS source,
                TRY_CAST("Time" AS INTERVAL) AS meeting_time,
                TRY_CAST("SessionTime" AS INTERVAL) AS session_time,
                TRY_CAST("DriverNumber" AS INTEGER) AS driver_number
FROM source.car_location AS car_location
DROP TABLE IF EXISTS staging.car_telemetry;

CREATE TABLE staging.car_telemetry AS
SELECT DISTINCT STRPTIME(CASE
                             WHEN REGEXP_FULL_MATCH(RIGHT(TRY_CAST("Date" AS VARCHAR), 6), CAST('\s\d{2}\:\d{2}' AS VARCHAR)) THEN CONCAT(TRY_CAST("Date" AS VARCHAR), CAST(':00.000' AS VARCHAR))
                             WHEN REGEXP_FULL_MATCH(RIGHT(TRY_CAST("Date" AS VARCHAR), 7), CAST('\:\d{2}\.\d{0,2}' AS VARCHAR)) THEN REGEXP_REPLACE(TRY_CAST("Date" AS VARCHAR), CAST('\:\d{2}\.\d{0,2}' AS VARCHAR), RPAD(REGEXP_EXTRACT(RIGHT(TRY_CAST("Date" AS VARCHAR), 7), CAST('\:\d{2}\.\d{0,2}' AS VARCHAR), 1), 6, CAST('0' AS VARCHAR)))
                             WHEN REGEXP_FULL_MATCH(RIGHT(TRY_CAST("Date" AS VARCHAR), 3), CAST('\:\d{2}' AS VARCHAR)) THEN CONCAT(TRY_CAST("Date" AS VARCHAR), CAST('.000' AS VARCHAR))
                             ELSE TRY_CAST("Date" AS VARCHAR)
                         END, CAST('%Y-%m-%d %H:%M:%S.%g' AS VARCHAR)) AS event_ts,
                ROUND(TRY_CAST("RPM" AS DECIMAL(15, 5)), 0) AS rpm,
                ROUND(TRY_CAST("Speed" AS DECIMAL(15, 5)), 1) AS kmh,
                TRY_CAST("nGear" AS INTEGER) AS n_gear,
                MULTIPLY(TRY_CAST("Throttle" AS DECIMAL(15, 5)), CAST(0.01 AS FLOAT)) AS throttle,
                TRY_CAST("Brake" AS DECIMAL(15, 5)) AS brake,
                TRY_CAST("DRS" AS BOOLEAN) AS drs,
                TRY_CAST("Source" AS VARCHAR) AS source,
                TRY_CAST("Time" AS INTERVAL) AS meeting_time,
                TRY_CAST("SessionTime" AS INTERVAL) AS session_time,
                TRY_CAST("DriverNumber" AS INTEGER) AS driver_number
FROM source.car_telemetry AS car_telemetry
DROP TABLE IF EXISTS staging.circuits;

CREATE TABLE staging.circuits AS
SELECT DISTINCT TRY_CAST("id" AS VARCHAR) AS circuit_key,
                TRY_CAST("Location" AS VARCHAR) AS location,
                TRY_CAST("Name" AS VARCHAR) AS name,
                STRPTIME(TRY_CAST("opened" AS VARCHAR), CAST('%Y' AS VARCHAR)) AS opened,
                STRPTIME(TRY_CAST("firstgp" AS VARCHAR), CAST('%Y' AS VARCHAR)) AS first_gp,
                TRY_CAST("length" AS INTEGER) AS length,
                TRY_CAST("altitude" AS INTEGER) AS altitude,
                TRY_CAST("geom" AS GEOMETRY) AS geometry
FROM source.circuits AS circuits
DROP TABLE IF EXISTS staging.meetings;

CREATE TABLE staging.meetings AS
SELECT DISTINCT TRY_CAST("Key" AS INTEGER) AS meeting_key,
                TRY_CAST("Name" AS VARCHAR) AS meeting_name,
                TRY_CAST("OfficialName" AS VARCHAR) AS official_name,
                TRY_CAST("Location" AS VARCHAR) AS location,
                TRY_CAST("CountryKey" AS INTEGER) AS country_key,
                TRY_CAST("CountryCode" AS VARCHAR) AS country_code,
                TRY_CAST("CountryName" AS VARCHAR) AS country_name,
                TRY_CAST("CircuitKey" AS INTEGER) AS circuit_key,
                TRY_CAST("CircuitShortName" AS VARCHAR) AS circuit_short_name
FROM source.meetings AS meetings
DROP TABLE IF EXISTS staging.race_control;

CREATE TABLE staging.race_control AS
SELECT DISTINCT STRPTIME(CASE
                             WHEN REGEXP_FULL_MATCH(RIGHT(TRY_CAST("Time" AS VARCHAR), 6), CAST('\s\d{2}\:\d{2}' AS VARCHAR)) THEN CONCAT(TRY_CAST("Time" AS VARCHAR), CAST(':00.000' AS VARCHAR))
                             WHEN REGEXP_FULL_MATCH(RIGHT(TRY_CAST("Time" AS VARCHAR), 7), CAST('\:\d{2}\.\d{0,2}' AS VARCHAR)) THEN REGEXP_REPLACE(TRY_CAST("Time" AS VARCHAR), CAST('\:\d{2}\.\d{0,2}' AS VARCHAR), RPAD(REGEXP_EXTRACT(RIGHT(TRY_CAST("Time" AS VARCHAR), 7), CAST('\:\d{2}\.\d{0,2}' AS VARCHAR), 1), 6, CAST('0' AS VARCHAR)))
                             WHEN REGEXP_FULL_MATCH(RIGHT(TRY_CAST("Time" AS VARCHAR), 3), CAST('\:\d{2}' AS VARCHAR)) THEN CONCAT(TRY_CAST("Time" AS VARCHAR), CAST('.000' AS VARCHAR))
                             ELSE TRY_CAST("Time" AS VARCHAR)
                         END, CAST('%Y-%m-%d %H:%M:%S.%g' AS VARCHAR)) AS event_ts,
                TRY_CAST("Category" AS VARCHAR) AS category,
                TRY_CAST("Message" AS TEXT) AS message,
                TRY_CAST("Status" AS VARCHAR) AS status,
                TRY_CAST("Flag" AS VARCHAR) AS flag,
                TRY_CAST("Scope" AS VARCHAR) AS scope,
                TRY_CAST("Sector" AS INTEGER) AS sector,
                TRY_CAST("RacingNumber" AS INTEGER) AS driver_number,
                TRY_CAST("Lap" AS INTEGER) AS lap
FROM source.race_control AS race_control
DROP TABLE IF EXISTS staging.session_status;

CREATE TABLE staging.session_status AS
SELECT DISTINCT TRY_CAST("SessionKey" AS INTEGER) AS session_key,
                TRY_CAST("Status" AS VARCHAR) AS session_status
FROM source.session_status AS session_status
DROP TABLE IF EXISTS staging.track_status;

CREATE TABLE staging.track_status AS
SELECT DISTINCT TRY_CAST("Time" AS INTERVAL) AS session_time,
                TRY_CAST("Status" AS VARCHAR) AS status,
                TRY_CAST("Message" AS TEXT) AS message
FROM source.track_status AS track_status
DROP TABLE IF EXISTS staging.sessions;

CREATE TABLE staging.sessions AS
SELECT DISTINCT TRY_CAST("Key" AS INT) AS session_key,
                TRY_CAST("Type" AS VARCHAR) AS type,
                TRY_CAST("Name" AS VARCHAR) AS name,
                STRPTIME(TRY_CAST("StartDate" AS VARCHAR), CAST('%Y-%m-%d %H:%M:%S' AS VARCHAR)) AS start_date,
                STRPTIME(TRY_CAST("EndDate" AS VARCHAR), CAST('%Y-%m-%d %H:%M:%S' AS VARCHAR)) AS end_date,
                TRY_CAST("GmtOffset" AS INTERVAL) AS gmt_offset,
                TRY_CAST("Path" AS VARCHAR) AS path
FROM source.sessions AS sessions
DROP TABLE IF EXISTS staging.weather;

CREATE TABLE staging.weather AS
SELECT DISTINCT TRY_CAST("Time" AS INTERVAL) AS session_time,
                ROUND(TRY_CAST("AirTemp" AS DECIMAL(15, 5)), 1) AS air_temp,
                TRY_CAST("Humidity" AS DECIMAL(15, 5)) AS humidity,
                ROUND(TRY_CAST("Pressure" AS DECIMAL(15, 5)), 0) AS pressure,
                ROUND(TRY_CAST("Rainfall" AS DECIMAL(15, 5)), 0) AS rainfall,
                ROUND(TRY_CAST("TrackTemp" AS DECIMAL(15, 5)), 1) AS track_temp,
                ROUND(TRY_CAST("WindDirection" AS DECIMAL(15, 5)), 0) AS wind_direction,
                ROUND(MULTIPLY(MULTIPLY(MULTIPLY(MULTIPLY(TRY_CAST("WindSpeed" AS DECIMAL(15, 5)), ROUND(CAST(1.9438461717893492 AS FLOAT), 5)), ROUND(CAST(3600.0 AS FLOAT), 5)), ROUND(CAST(0.001 AS FLOAT), 5)), ROUND(CAST(1.0 AS FLOAT), 5)), 1) AS wind_speed
FROM source.weather AS weather
DROP TABLE IF EXISTS staging.results;

CREATE TABLE staging.results AS
SELECT DISTINCT TRY_CAST("SessionKey" AS INTEGER) AS session_key,
                TRY_CAST("DriverNumber" AS INTEGER) AS driver_number,
                TRY_CAST("BroadcastName" AS VARCHAR) AS broadcast_name,
                TRY_CAST("Abbreviation" AS VARCHAR) AS abbreviation,
                TRY_CAST("DriverId" AS VARCHAR) AS driver_id,
                TRY_CAST("TeamName" AS VARCHAR) AS team_name,
                TRY_CAST("TeamColor" AS VARCHAR) AS team_colour,
                TRY_CAST("TeamId" AS VARCHAR) AS team_id,
                TRY_CAST("FirstName" AS VARCHAR) AS first_name,
                TRY_CAST("LastName" AS VARCHAR) AS last_name,
                TRY_CAST("FullName" AS VARCHAR) AS full_name,
                TRY_CAST("HeadshotUrl" AS VARCHAR) AS headshot_url,
                TRY_CAST("CountryCode" AS VARCHAR) AS country_code,
                TRY_CAST("Position" AS INTEGER) AS position,
                TRY_CAST("ClassifiedPosition" AS INTEGER) AS classified_position,
                TRY_CAST("GridPosition" AS INTEGER) AS grid_position,
                TRY_CAST("Q1" AS INTERVAL) AS qualifying_1,
                TRY_CAST("Q2" AS INTERVAL) AS qualifying_2,
                TRY_CAST("Q3" AS INTERVAL) AS qualifying_3,
                TRY_CAST("Time" AS INTERVAL) AS classified_time,
                TRY_CAST("Status" AS VARCHAR) AS session_status,
                TRY_CAST("Points" AS INTEGER) AS points,
                TRY_CAST("Laps" AS INTEGER) AS laps_completed
FROM source.results AS results

In [6]:
# Check that tables exist in the table catalogue

print("TABLES:")
display(conn.tables())

print("\n")
print("COLUMNS:")
display(conn.columns())

TABLES:

,table_catalog,table_schema,table_name,table_type,self_referencing_column_name,reference_generation,user_defined_type_catalog,user_defined_type_schema,user_defined_type_name,is_insertable_into,is_typed,commit_action,TABLE_COMMENT
0,test,singapore,car_location,BASE TABLE,None,None,None,None,None,YES,NO,None,None
1,test,singapore,car_telemetry,BASE TABLE,None,None,None,None,None,YES,NO,None,None
2,test,singapore,circuits,BASE TABLE,None,None,None,None,None,YES,NO,None,None
3,test,singapore,meetings,BASE TABLE,None,None,None,None,None,YES,NO,None,None
4,test,singapore,race_control,BASE TABLE,None,None,None,None,None,YES,NO,None,None
5,test,singapore,results,BASE TABLE,None,None,None,None,None,YES,NO,None,None
6,test,singapore,sessions,BASE TABLE,None,None,None,None,None,YES,NO,None,None
7,test,singapore,session_status,BASE TABLE,None,None,None,None,None,YES,NO,None,None
8,test,singapore,track_status,BASE TABLE,None,None,None,None,None,YES,NO,None,None
9,test,singapore,weather,BASE TABLE,None,None,None,None,None,YES,NO,None,None
10,test,source,car_location,BASE TABLE,None,None,None,None,None,YES,NO,None,None
11,test,source,car_telemetry,BASE TABLE,None,None,None,None,None,YES,NO,None,None
12,test,source,circuits,BASE TABLE,None,None,None,None,None,YES,NO,None,None
13,test,source,meetings,BASE TABLE,None,None,None,None,None,YES,NO,None,None
14,test,source,race_control,BASE TABLE,None,None,None,None,None,YES,NO,None,None
15,test,source,results,BASE TABLE,None,None,None,None,None,YES,NO,None,None
16,test,source,sessions,BASE TABLE,None,None,None,None,None,YES,NO,None,None
17,test,source,session_status,BASE TABLE,None,None,None,None,None,YES,NO,None,None
18,test,source,track_status,BASE TABLE,None,None,None,None,None,YES,NO,None,None
19,test,source,weather,BASE TABLE,None,None,None,None,None,YES,NO,None,None
20,test,staging,car_location,BASE TABLE,None,None,None,None,None,YES,NO,None,None
21,test,staging,car_telemetry,BASE TABLE,None,None,None,None,None,YES,NO,None,None
22,test,staging,circuits,BASE TABLE,None,None,None,None,None,YES,NO,None,None
23,test,staging,meetings,BASE TABLE,None,None,None,None,None,YES,NO,None,None
24,test,staging,race_control,BASE TABLE,None,None,None,None,None,YES,NO,None,None
25,test,staging,results,BASE TABLE,None,None,None,None,None,YES,NO,None,None
26,test,staging,sessions,BASE TABLE,None,None,None,None,None,YES,NO,None,None
27,test,staging,session_status,BASE TABLE,None,None,None,None,None,YES,NO,None,None
28,test,staging,track_status,BASE TABLE,None,None,None,None,None,YES,NO,None,None
29,test,staging,weather,BASE TABLE,None,None,None,None,None,YES,NO,None,None

COLUMNS:

,table_catalog,table_schema,table_name,column_name,ordinal_position,column_default,is_nullable,data_type,character_maximum_length,character_octet_length,...,identity_generation,identity_start,identity_increment,identity_maximum,identity_minimum,identity_cycle,is_generated,generation_expression,is_updatable,COLUMN_COMMENT
0,test,singapore,car_location,driver_number,1,None,YES,INTEGER,NaN,NaN,...,None,None,None,None,None,NaN,None,None,NaN,None
1,test,singapore,car_location,event_ts,2,None,YES,TIMESTAMP,NaN,NaN,...,None,None,None,None,None,NaN,None,None,NaN,None
2,test,singapore,car_location,status,3,None,YES,VARCHAR,NaN,NaN,...,None,None,None,None,None,NaN,None,None,NaN,None
3,test,singapore,car_location,x,4,None,YES,FLOAT,NaN,NaN,...,None,None,None,None,None,NaN,None,None,NaN,None
4,test,singapore,car_location,y,5,None,YES,FLOAT,NaN,NaN,...,None,None,None,None,None,NaN,None,None,NaN,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
265,test,staging,weather,pressure,4,None,YES,"DECIMAL(15,0)",NaN,NaN,...,None,None,None,None,None,NaN,None,None,NaN,None
266,test,staging,weather,rainfall,5,None,YES,"DECIMAL(15,0)",NaN,NaN,...,None,None,None,None,None,NaN,None,None,NaN,None
267,test,staging,weather,track_temp,6,None,YES,"DECIMAL(15,1)",NaN,NaN,...,None,None,None,None,None,NaN,None,None,NaN,None
268,test,staging,weather,wind_direction,7,None,YES,"DECIMAL(15,0)",NaN,NaN,...,None,None,None,None,None,NaN,None,None,NaN,None
269,test,staging,weather,wind_speed,8,None,YES,FLOAT,NaN,NaN,...,None,None,None,None,None,NaN,None,None,NaN,None

In [7]:
# Now that the tables are built, we can query them with the connection
conn.execute(staging.tables.results.sql).df()

,session_key,driver_number,broadcast_name,abbreviation,driver_id,team_name,team_colour,team_id,first_name,last_name,...,position,classified_position,grid_position,qualifying_1,qualifying_2,qualifying_3,classified_time,session_status,points,laps_completed
0,9165,31,E OCON,OCO,ocon,Alpine,2293D1,alpine,Esteban,Ocon,...,18.0,NaN,8.0,NaT,NaT,NaT,NaT,Retired,0,42
1,9165,14,F ALONSO,ALO,alonso,Aston Martin,358C75,aston_martin,Fernando,Alonso,...,15.0,15.0,7.0,NaT,NaT,NaT,0 days 00:01:27.603000,Finished,0,62
2,9165,1,M VERSTAPPEN,VER,max_verstappen,Red Bull Racing,3671C6,red_bull,Max,Verstappen,...,5.0,5.0,11.0,NaT,NaT,NaT,0 days 00:00:21.441000,Finished,10,62
3,9165,2,L SARGEANT,SAR,sargeant,Williams,37BEDD,williams,Logan,Sargeant,...,14.0,14.0,18.0,NaT,NaT,NaT,0 days 00:01:26.889000,Finished,0,62
4,9165,22,Y TSUNODA,TSU,tsunoda,AlphaTauri,5E8FAA,alphatauri,Yuki,Tsunoda,...,19.0,NaN,15.0,NaT,NaT,NaT,NaT,Retired,0,0
5,9165,16,C LECLERC,LEC,leclerc,Ferrari,F91536,ferrari,Charles,Leclerc,...,4.0,4.0,3.0,NaT,NaT,NaT,0 days 00:00:21.177000,Finished,12,62
6,9165,4,L NORRIS,NOR,norris,McLaren,F58020,mclaren,Lando,Norris,...,2.0,2.0,4.0,NaT,NaT,NaT,0 days 00:00:00.812000,Finished,18,62
7,9165,24,G ZHOU,ZHO,zhou,Alfa Romeo,C92D4B,alfa,Guanyu,Zhou,...,12.0,12.0,19.0,NaT,NaT,NaT,0 days 00:01:23.649000,Finished,0,62
8,9165,55,C SAINZ,SAI,sainz,Ferrari,F91536,ferrari,Carlos,Sainz,...,1.0,1.0,1.0,NaT,NaT,NaT,0 days 01:46:37.418000,Finished,25,62
9,9165,44,L HAMILTON,HAM,hamilton,Mercedes,6CD3BF,mercedes,Lewis,Hamilton,...,3.0,3.0,5.0,NaT,NaT,NaT,0 days 00:00:01.269000,Finished,16,62
10,9165,77,V BOTTAS,BOT,bottas,Alfa Romeo,C92D4B,alfa,Valtteri,Bottas,...,17.0,NaN,16.0,NaT,NaT,NaT,NaT,Retired,0,51
11,9165,63,G RUSSELL,RUS,russell,Mercedes,6CD3BF,mercedes,George,Russell,...,16.0,16.0,2.0,NaT,NaT,NaT,NaT,Finished,0,61
12,9165,20,K MAGNUSSEN,MAG,kevin_magnussen,Haas F1 Team,B6BABD,haas,Kevin,Magnussen,...,10.0,10.0,6.0,NaT,NaT,NaT,0 days 00:01:12.116000,Finished,1,62
13,9165,10,P GASLY,GAS,gasly,Alpine,2293D1,alpine,Pierre,Gasly,...,6.0,6.0,12.0,NaT,NaT,NaT,0 days 00:00:38.441000,Finished,8,62
14,9165,81,O PIASTRI,PIA,piastri,McLaren,F58020,mclaren,Oscar,Piastri,...,7.0,7.0,17.0,NaT,NaT,NaT,0 days 00:00:41.479000,Finished,6,62
15,9165,18,L STROLL,STR,stroll,Aston Martin,nan,aston_martin,Lance,Stroll,...,NaN,NaN,NaN,NaT,NaT,NaT,NaT,Withdrew,0,0
16,9165,23,A ALBON,ALB,albon,Williams,37BEDD,williams,Alexander,Albon,...,11.0,11.0,14.0,NaT,NaT,NaT,0 days 00:01:13.417000,Finished,0,62
17,9165,11,S PEREZ,PER,perez,Red Bull Racing,3671C6,red_bull,Sergio,Perez,...,8.0,8.0,13.0,NaT,NaT,NaT,0 days 00:00:59.534000,Finished,4,62
18,9165,27,N HULKENBERG,HUL,hulkenberg,Haas F1 Team,B6BABD,haas,Nico,Hulkenberg,...,13.0,13.0,9.0,NaT,NaT,NaT,0 days 00:01:26.201000,Finished,0,62
19,9165,40,L LAWSON,LAW,lawson,AlphaTauri,5E8FAA,alphatauri,Liam,Lawson,...,9.0,9.0,10.0,NaT,NaT,NaT,0 days 00:01:05.918000,Finished,2,62

In [8]:
# Ensure that the connection is closed when finished
conn.close()