<h1>Chapter 1: Schema & Lineage Objects</h1>

<p>
Source and staging are pre-defined schemas that represent the first two stages of the data ingestion pipeline.
They are defined as follows: 
</p>

<span>Source - Raw, unprocessed source data pulled from source files</span>
<ul> <code>SELECT * FROM {source_file}</code> </ul>

<span>Staging - Processed data from source with column metadata information applied</span>
<ul><code>SELECT TRY_CAST({column} AS {column_metadata.data_type}) AS {column} FROM source.{table}</code></ul>

In [1]:
import tyr

# Required to get relative path of test datasets
import os

# Required to illustrate how metadata is used
import pandas as pd

from pprint import pprint

# About The Data

The data used in this tutorial is from the 2023 Formula 1 Singapore Grand Prix, courtesy of FastF1 and the OpenF1 api.
This data is useful as it provides multiple tables connected by common ids, and numeric data with which we can calculate
various metrics (averages, std_dev, etc.).

Thank you to both of these projects for providing such a fantastic data source. If you want to check them out, they
can be found at the following addresses:

- https://github.com/theOehrly/Fast-F1
- https://openf1.org/

In [2]:
# This is the full process to read in file metadata. There is a function to do this in source called read_file_metadata

file_metadata = pd.read_csv(
    os.path.abspath(
        os.path.join(os.getcwd(), "..", "tests/configurations/file_metadata.tsv")
    ),
    sep="\t",
)

display(file_metadata)

file_metadata = {
    row.dataset: tyr.lineage.schema.source.FileMetadata(row)
    for index, row in file_metadata.iterrows()
}

file_metadata

,schema,dataset,file_regex,delim,distinct
0,staging,car_location,/home/miles/tyr/tests/datasets/car_location_se...,t,True
1,staging,car_telemetry,/home/miles/tyr/tests/datasets/car_telemetry_s...,t,True
2,staging,circuits,/home/miles/tyr/tests/datasets/f1_circuits.geo...,geojson,True
3,staging,meetings,/home/miles/tyr/tests/datasets/meetings.tsv,t,True
4,staging,race_control,/home/miles/tyr/tests/datasets/race_control_se...,t,True
5,staging,session_status,/home/miles/tyr/tests/datasets/session_status_...,t,True
6,staging,track_status,/home/miles/tyr/tests/datasets/track_status_se...,t,True
7,staging,sessions,/home/miles/tyr/tests/datasets/sessions.tsv,t,True
8,staging,weather,/home/miles/tyr/tests/datasets/weather_session...,t,True
9,staging,results,/home/miles/tyr/tests/datasets/results_session...,t,True

{'car_location': <tyr.lineage.schema.source.FileMetadata at 0x7f42f8176040>,
 'car_telemetry': <tyr.lineage.schema.source.FileMetadata at 0x7f42f81c9a00>,
 'circuits': <tyr.lineage.schema.source.FileMetadata at 0x7f42a54c7730>,
 'meetings': <tyr.lineage.schema.source.FileMetadata at 0x7f42a54c74f0>,
 'race_control': <tyr.lineage.schema.source.FileMetadata at 0x7f42991aba90>,
 'session_status': <tyr.lineage.schema.source.FileMetadata at 0x7f42991aba00>,
 'track_status': <tyr.lineage.schema.source.FileMetadata at 0x7f42991abc40>,
 'sessions': <tyr.lineage.schema.source.FileMetadata at 0x7f42991abc70>,
 'weather': <tyr.lineage.schema.source.FileMetadata at 0x7f42991abc10>,
 'results': <tyr.lineage.schema.source.FileMetadata at 0x7f42991ab9d0>}

In [5]:
# This is the full process to read in column metadata. There is a function to do this in source called read_column_metadata
column_metadata = pd.read_csv(
    os.path.abspath(
        os.path.join(os.getcwd(), "..", "tests/configurations/column_metadata.tsv")
    ),
    sep="\t",
)

column_metadata["ordinal_position"] = column_metadata["ordinal_position"].astype(int)

column_metadata["is_primary_key"] = column_metadata["is_primary_key"].astype(bool)

column_metadata["is_event_time"] = column_metadata["is_event_time"].astype(bool)

column_metadata["filter_values"] = column_metadata["filter_values"].fillna("[]")

for column in [
    column
    for column in column_metadata.columns.tolist()
    if column
    not in ["ordinal_position", "is_primary_key", "is_event_time", "filter_values"]
]:
    column_metadata[column] = column_metadata[column].fillna("")
    column_metadata[column] = column_metadata[column].astype(str)

display(column_metadata)

column_metadata = {
    dataset: {
        row.column_name: tyr.lineage.schema.source.ColumnMetadata(row)
        for index, row in column_metadata[
            column_metadata["dataset"] == dataset
        ].iterrows()
    }
    for dataset in column_metadata.dataset.unique()
}

column_metadata

,schema,dataset,column_name,column_alias,var_type,data_type,on_null,is_primary_key,is_event_time,filter_values,on_filter,regex,source_unit,target_unit,scale_factor,precision,ordinal_position
0,staging,car_location,Date,event_ts,timestamp,TIMESTAMP,PASS,True,True,[],PASS,%Y-%m-%d %H:%M:%S.%g,,,,,0
1,staging,car_location,Status,status,categorical,VARCHAR,PASS,False,False,[],PASS,,,,,,2
2,staging,car_location,X,x,numeric,FLOAT,PASS,False,False,[],PASS,,m^1,,,1dp,3
3,staging,car_location,Y,y,numeric,FLOAT,PASS,False,False,[],PASS,,m^1,,,1dp,4
4,staging,car_location,Z,z,numeric,FLOAT,PASS,False,False,[],PASS,,m^1,,,1dp,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
87,staging,results,Points,points,numeric,INTEGER,PASS,False,False,[],PASS,,,,,,21
88,staging,results,Laps,laps_completed,numeric,INTEGER,PASS,False,False,[],PASS,,,,,,22
89,staging,session_status,SessionKey,session_key,key,INTEGER,PASS,True,False,[],PASS,,,,,,0
90,staging,session_status,Time,session_time,timedelta,INTERVAL,PASS,True,True,[],PASS,,,,,,1
91,staging,session_status,Status,session_status,categorical,VARCHAR,PASS,False,False,[],PASS,,,,,,2

{'car_location': {'Date': <tyr.lineage.schema.source.ColumnMetadata at 0x7f4298a73490>,
  'Status': <tyr.lineage.schema.source.ColumnMetadata at 0x7f4298a73460>,
  'X': <tyr.lineage.schema.source.ColumnMetadata at 0x7f4298a73670>,
  'Y': <tyr.lineage.schema.source.ColumnMetadata at 0x7f4298a734c0>,
  'Z': <tyr.lineage.schema.source.ColumnMetadata at 0x7f4298a7fd60>,
  'Source': <tyr.lineage.schema.source.ColumnMetadata at 0x7f4298a8d340>,
  'Time': <tyr.lineage.schema.source.ColumnMetadata at 0x7f4298a8d130>,
  'SessionTime': <tyr.lineage.schema.source.ColumnMetadata at 0x7f4298a8da60>,
  'DriverNumber': <tyr.lineage.schema.source.ColumnMetadata at 0x7f4298a7f2b0>},
 'car_telemetry': {'Date': <tyr.lineage.schema.source.ColumnMetadata at 0x7f4298a87a00>,
  'RPM': <tyr.lineage.schema.source.ColumnMetadata at 0x7f42928bd0a0>,
  'Speed': <tyr.lineage.schema.source.ColumnMetadata at 0x7f4298a87070>,
  'nGear': <tyr.lineage.schema.source.ColumnMetadata at 0x7f4298a82b20>,
  'Throttle': <tyr.lineage.schema.source.ColumnMetadata at 0x7f4298a82c70>,
  'Brake': <tyr.lineage.schema.source.ColumnMetadata at 0x7f4292a0ed90>,
  'DRS': <tyr.lineage.schema.source.ColumnMetadata at 0x7f4292a0ebb0>,
  'Source': <tyr.lineage.schema.source.ColumnMetadata at 0x7f4292a183a0>,
  'Time': <tyr.lineage.schema.source.ColumnMetadata at 0x7f4292a185b0>,
  'SessionTime': <tyr.lineage.schema.source.ColumnMetadata at 0x7f4292a185e0>,
  'DriverNumber': <tyr.lineage.schema.source.ColumnMetadata at 0x7f4292a19850>},
 'meetings': {'Key': <tyr.lineage.schema.source.ColumnMetadata at 0x7f4292a19400>,
  'Name': <tyr.lineage.schema.source.ColumnMetadata at 0x7f4292a19820>,
  'OfficialName': <tyr.lineage.schema.source.ColumnMetadata at 0x7f4292a1f3a0>,
  'Location': <tyr.lineage.schema.source.ColumnMetadata at 0x7f4292a1f5b0>,
  'CountryKey': <tyr.lineage.schema.source.ColumnMetadata at 0x7f4292a1f5e0>,
  'CountryCode': <tyr.lineage.schema.source.ColumnMetadata at 0x7f4292a213a0>,
  'CountryName': <tyr.lineage.schema.source.ColumnMetadata at 0x7f4292a215b0>,
  'CircuitKey': <tyr.lineage.schema.source.ColumnMetadata at 0x7f4292a215e0>,
  'CircuitShortName': <tyr.lineage.schema.source.ColumnMetadata at 0x7f4292a263a0>},
 'race_control': {'Time': <tyr.lineage.schema.source.ColumnMetadata at 0x7f4292a26850>,
  'Category': <tyr.lineage.schema.source.ColumnMetadata at 0x7f4292a265b0>,
  'Message': <tyr.lineage.schema.source.ColumnMetadata at 0x7f4292a283a0>,
  'Status': <tyr.lineage.schema.source.ColumnMetadata at 0x7f4292a285b0>,
  'Flag': <tyr.lineage.schema.source.ColumnMetadata at 0x7f4292a285e0>,
  'Scope': <tyr.lineage.schema.source.ColumnMetadata at 0x7f4292a2e3a0>,
  'Sector': <tyr.lineage.schema.source.ColumnMetadata at 0x7f4292a2e5b0>,
  'RacingNumber': <tyr.lineage.schema.source.ColumnMetadata at 0x7f4292a2e5e0>,
  'Lap': <tyr.lineage.schema.source.ColumnMetadata at 0x7f4292a323a0>},
 'session_status': {'Time': <tyr.lineage.schema.source.ColumnMetadata at 0x7f4292a365b0>,
  'Status': <tyr.lineage.schema.source.ColumnMetadata at 0x7f4292a365e0>,
  'SessionKey': <tyr.lineage.schema.source.ColumnMetadata at 0x7f4292a363a0>},
 'track_status': {'Time': <tyr.lineage.schema.source.ColumnMetadata at 0x7f4292a32ac0>,
  'Status': <tyr.lineage.schema.source.ColumnMetadata at 0x7f4292a363d0>,
  'Message': <tyr.lineage.schema.source.ColumnMetadata at 0x7f4292a36280>},
 'sessions': {'Key': <tyr.lineage.schema.source.ColumnMetadata at 0x7f4292a3c850>,
  'Type': <tyr.lineage.schema.source.ColumnMetadata at 0x7f4292a3c460>,
  'Name': <tyr.lineage.schema.source.ColumnMetadata at 0x7f4292a413a0>,
  'StartDate': <tyr.lineage.schema.source.ColumnMetadata at 0x7f4292a415b0>,
  'EndDate': <tyr.lineage.schema.source.ColumnMetadata at 0x7f4292a415e0>,
  'GmtOffset': <tyr.lineage.schema.source.ColumnMetadata at 0x7f4292a453a0>,
  'Path': <tyr.lineage.schema.source.ColumnMetadata at 0x7f4292a455b0>},
 'weather': {'Time': <tyr.lineage.schema.source.ColumnMetadata at 0x7f4298a73040>,
  'AirTemp': <tyr.lineage.schema.source.ColumnMetadata at 0x7f42f8184ca0>,
  'Humidity': <tyr.lineage.schema.source.ColumnMetadata at 0x7f4298a15310>,
  'Pressure': <tyr.lineage.schema.source.ColumnMetadata at 0x7f4298a15940>,
  'Rainfall': <tyr.lineage.schema.source.ColumnMetadata at 0x7f4298a15b20>,
  'TrackTemp': <tyr.lineage.schema.source.ColumnMetadata at 0x7f4298a203a0>,
  'WindDirection': <tyr.lineage.schema.source.ColumnMetadata at 0x7f4298a20250>,
  'WindSpeed': <tyr.lineage.schema.source.ColumnMetadata at 0x7f4298a20d60>},
 'circuits': {'id': <tyr.lineage.schema.source.ColumnMetadata at 0x7f4298a1a610>,
  'Location': <tyr.lineage.schema.source.ColumnMetadata at 0x7f4298a1aca0>,
  'Name': <tyr.lineage.schema.source.ColumnMetadata at 0x7f4298a32b50>,
  'opened': <tyr.lineage.schema.source.ColumnMetadata at 0x7f4298a4a160>,
  'firstgp': <tyr.lineage.schema.source.ColumnMetadata at 0x7f4298a4a190>,
  'length': <tyr.lineage.schema.source.ColumnMetadata at 0x7f4298a4a700>,
  'altitude': <tyr.lineage.schema.source.ColumnMetadata at 0x7f4298a4b160>,
  'geom': <tyr.lineage.schema.source.ColumnMetadata at 0x7f4298a4b9d0>},
 'results': {'SessionKey': <tyr.lineage.schema.source.ColumnMetadata at 0x7f42928bdca0>,
  'DriverNumber': <tyr.lineage.schema.source.ColumnMetadata at 0x7f42928bd250>,
  'BroadcastName': <tyr.lineage.schema.source.ColumnMetadata at 0x7f4298a51670>,
  'Abbreviation': <tyr.lineage.schema.source.ColumnMetadata at 0x7f42931cf160>,
  'DriverId': <tyr.lineage.schema.source.ColumnMetadata at 0x7f42931cf310>,
  'TeamName': <tyr.lineage.schema.source.ColumnMetadata at 0x7f42931cf220>,
  'TeamColor': <tyr.lineage.schema.source.ColumnMetadata at 0x7f42931d3340>,
  'TeamId': <tyr.lineage.schema.source.ColumnMetadata at 0x7f42931d3550>,
  'FirstName': <tyr.lineage.schema.source.ColumnMetadata at 0x7f42931d3580>,
  'LastName': <tyr.lineage.schema.source.ColumnMetadata at 0x7f42931d7340>,
  'FullName': <tyr.lineage.schema.source.ColumnMetadata at 0x7f42931d7550>,
  'HeadshotUrl': <tyr.lineage.schema.source.ColumnMetadata at 0x7f42931d7580>,
  'CountryCode': <tyr.lineage.schema.source.ColumnMetadata at 0x7f42931d9340>,
  'Position': <tyr.lineage.schema.source.ColumnMetadata at 0x7f42931d9550>,
  'ClassifiedPosition': <tyr.lineage.schema.source.ColumnMetadata at 0x7f42931d9580>,
  'GridPosition': <tyr.lineage.schema.source.ColumnMetadata at 0x7f42931dd340>,
  'Q1': <tyr.lineage.schema.source.ColumnMetadata at 0x7f42931dd550>,
  'Q2': <tyr.lineage.schema.source.ColumnMetadata at 0x7f42931dd580>,
  'Q3': <tyr.lineage.schema.source.ColumnMetadata at 0x7f42931e0340>,
  'Time': <tyr.lineage.schema.source.ColumnMetadata at 0x7f42931e0550>,
  'Status': <tyr.lineage.schema.source.ColumnMetadata at 0x7f42931e0580>,
  'Points': <tyr.lineage.schema.source.ColumnMetadata at 0x7f42931e5340>,
  'Laps': <tyr.lineage.schema.source.ColumnMetadata at 0x7f42931e5550>}}

_________________________________________________________________________________________________________________
# Editing Metadata

We're going to build source to illustrate how column metadata affects the construction of a staging table.

**This is bad practice.** 

Always update column and file metadata in the configuration files and rebuild from
the configuration files. We're only doing this to demonstrate how changing column metadata
changes the staging query.

In [6]:
source = tyr.lineage.schema.source.Source(
    settings=tyr.lineage.schema.source.SourceSettings(
        file_metadata=file_metadata,
        expected_column_metadata=column_metadata,
        extensions=["spatial"],
    )
)

# Staging columns are built using a function called lineage.macros.columns.staging_column_transform()
# Here, we will call it on a single source column.

car_location_subquery = tyr.lineage.tables.Subquery(source.tables.car_location)

source_table = tyr.lineage.tables.Core(
    name="test_column_metadata_change",
    source=car_location_subquery,
    columns=tyr.lineage.core.ColumnList(
        [
            tyr.lineage.macros.columns.staging_column_transform(
                tyr.lineage.tables.Select(
                    source.tables.car_location
                ).columns.list_columns()[0],
                source.tables.car_location.expected_column_metadata["X"],
            )
        ]
    ),
)

print("Query with 1dp precision")
print(source_table.sql)

# Let's update the precision of X from 1dp to 0dp
source.tables.car_location.expected_column_metadata["X"].precision = "0dp"

# Any object downstream relying on this information must be reinitialized
source_table = tyr.lineage.tables.Core(
    name="test_column_metadata_change",
    source=car_location_subquery,
    columns=tyr.lineage.core.ColumnList(
        [
            tyr.lineage.macros.columns.staging_column_transform(
                tyr.lineage.tables.Select(
                    source.tables.car_location
                ).columns.list_columns()[0],
                source.tables.car_location.expected_column_metadata["X"],
            )
        ]
    ),
)

print("\n")
print("Query with 0dp precision")
print(source_table.sql)

# Note that re-running this cell without the following line does not reset the column precision to 0dp
# This is because the column metadata has not been re-read from file
source.tables.car_location.expected_column_metadata["X"].precision = "1dp"

Query with 1dp precision
SELECT ROUND(TRY_CAST("X" AS FLOAT), 1) AS x
FROM
  (SELECT DISTINCT *
   FROM read_csv_auto('/home/miles/tyr/tests/datasets/car_location_session_*.tsv', delim='\t', header=True, union_by_name=True)) AS car_location


Query with 0dp precision
SELECT ROUND(TRY_CAST("X" AS FLOAT), 0) AS x
FROM
  (SELECT DISTINCT *
   FROM read_csv_auto('/home/miles/tyr/tests/datasets/car_location_session_*.tsv', delim='\t', header=True, union_by_name=True)) AS car_location

Experiment with changing parameters in the configuration files:
- <code>tyr/test/configurations/column_metadata.tsv</code>
- <code>tyr/test/configurations/file_metadata.tsv</code>

A full list of parameters can be queried in the ColumnMetadata object docs

In [7]:
print(tyr.lineage.schema.source.ColumnMetadata.__doc__)

    The ColumnMetadata object takes the following pd.Series as an argument

    :param schema: Schema containing table
    :type schema: str
    :param dataset: Dataset name. Will be used as table name in schema
    :type dataset: str
    :param column_name: Column name in source.
    :type column_name: str
    :param column_alias: Column alias.
    :type column_alias: str
    :param var_type: Options: Variable type. Used to determine which validation tests are run.
     ``'numeric'``/``'categorical'``/``'string'``/``'timedelta'``/``'datetime'``/``'key'``/``'sequential'``/``''``
     Default: ``''``
    :type var_type: str
    :param data_type: SQL data_type of column to cast to
    :type data_type: str
    :param source_unit: Unit of measurement of column in source file. Default: ``''``
    :type source_unit: str
    :param target_unit: Target unit of measurement to convert to in source table. Default: ``''``
    :type target_unit: str
    :param precision: Precision to round column to. Options: ``'{n}dp'``/``'{n}sf'`` Default: ``''``
    :type precision: str
    :param scale_factor: Value to multiply column by to scale to source_unit. Default: ``''``
    :type scale_factor: float
    :param filter_values: Values to filter. Default: ``''``
    :type filter_values: List[Any]
    :param on_filter: Behaviour on filter value. Options: ``'PASS'``/``'FAIL'``/``'WARN'``/``'SKIP'`` Default: ``'PASS'``
    :type on_filter: str
    :param on_null: Behaviour on NULL value. Options: ``'PASS'``/``'FAIL'``/``'WARN'``/``'SKIP'`` Default: ``'PASS'``
    :type on_null: str
    :param is_primary_key: Default: ``False``
    :type is_primary_key: bool
    :param is_event_time: Default: ``False``
    :type is_event_time: bool
    :param regex: Default: ``''``
    :type regex: str
    :param ordinal_position: Column order
    :type ordinal_position: int

________________________________________________________________________________________________________________
# Building Source & Staging

<p>Now that we have our metadata objects read in, we can construct source and staging. It is importand to note that, although source takes <code>expected_column_metadata</code> as an argument, this isn't used in the construction of the sql query. It is stored within the source table object and used downstream by staging. The <code>SourceSettings</code> and <code>StagingSettings</code> objects are required for their respective schemas to read in the information correctly. The <code>extensions</code> parameter is used to install any necessary duckdb extensions. In this case, <code>spatial</code> will be required as geometry objects exist in the files.</p>

In [8]:
source = tyr.lineage.schema.source.Source(
    settings=tyr.lineage.schema.source.SourceSettings(
        file_metadata=file_metadata,
        expected_column_metadata=column_metadata,
        extensions=["spatial"],
    )
)

staging = tyr.lineage.schema.staging.Staging(
    source=source,
    settings=tyr.lineage.schema.staging.StagingSettings(
        name="staging", extensions=["spatial"]
    ),
)

_________________________________________________________________________________________________________
# Saving schemas

We can save schemas to recall them in other files without re-reading metadata. 
Note that this will mean that changing the metadata files will not update the schema. 
Only recreating them from the files will do this.

This practice is useful for version controlling schemas.

In [9]:
# Note that after this operation, the saved schema will appear in the tests/saved_schema/ directory
source.save(os.path.abspath(os.path.join(os.getcwd(), "..", "tests/saved_schema")))
staging.save(os.path.abspath(os.path.join(os.getcwd(), "..", "tests/saved_schema")))

source = tyr.lineage.schema.core.load_schema_from_pkl(
    os.path.abspath(os.path.join(os.getcwd(), "..", "tests/saved_schema/source.pkl"))
)
staging = tyr.lineage.schema.core.load_schema_from_pkl(
    os.path.abspath(os.path.join(os.getcwd(), "..", "tests/saved_schema/staging.pkl"))
)

___________________________________________________________________________________________________________________________________________________
# Interacting with lineage objects
<p>Now we can interact with the table objects and retrieve their attributes as follows: </p>

In [10]:
# Retrieve name
print("\n")
print(rf"Table name: {staging.tables.sessions.name}")

# Retrieve column names
print("\n")
print("Column Names:")
print(staging.tables.sessions.columns.list_names())

# Column attributes can be achieved through attribute name or string indexing
print("\n")
print("Column from attribute name:")
print(staging.tables.sessions.columns.start_date.__dict__)

print("\n")
print("Column from string index:")
print(staging.tables.sessions.columns["start_date"].__dict__)

# Retrieve primary key
print("\n")
print("Primary Key:")
print(staging.tables.sessions.primary_key.list_names())

# Retrieve query
print("\n")
print("SQL:")
print(staging.tables.sessions.sql)

# Retrieve schema of table
print("\n")
print("Schema name:")
print(staging.tables.sessions.schema.name)

# Retrieve name of source table with schema
print("\n")
print("Source table name:")
print(
    rf"{staging.tables.sessions.source.schema.name}.{staging.tables.sessions.source.name}"
)

Table name: sessions


Column Names:
['session_key', 'type', 'name', 'start_date', 'end_date', 'gmt_offset', 'path']


Column from attribute name:
{'source': <tyr.lineage.functions.datetime.StringToTimestamp object at 0x7f429833ee50>, 'name': 'start_date', 'data_type': <tyr.lineage.values.Datatype object at 0x7f42983522e0>, 'var_type': 'timestamp', 'on_null': 'PASS', 'is_primary_key': False, 'is_event_time': False, 'current_table': <tyr.lineage.tables.Core object at 0x7f429833e310>, 'unit': <units.core.Unit object at 0x7f4298615610>, 'sql': 'STRPTIME(TRY_CAST("StartDate" AS VARCHAR), CAST(\'%Y-%m-%d %H:%M:%S\' AS VARCHAR))', '_node_data': {'label': 'start_date', 'name': 'start_date', 'data_type': 'TIMESTAMP', 'var_type': 'timestamp', 'type': "<class 'tyr.lineage.columns.Core'>", 'base': "<class 'tyr.lineage.core._Column'>", 'unit': '', 'macro_group': '', 'sql': 'STRPTIME(TRY_CAST("StartDate" AS VARCHAR), CAST(\'%Y-%m-%d %H:%M:%S\' AS VARCHAR))'}, 'graph': <tyr.lineage.core.LineageGraph object at 0x7f42983523d0>}


Column from string index:
{'source': <tyr.lineage.functions.datetime.StringToTimestamp object at 0x7f429833ee50>, 'name': 'start_date', 'data_type': <tyr.lineage.values.Datatype object at 0x7f42983522e0>, 'var_type': 'timestamp', 'on_null': 'PASS', 'is_primary_key': False, 'is_event_time': False, 'current_table': <tyr.lineage.tables.Core object at 0x7f429833e310>, 'unit': <units.core.Unit object at 0x7f4298615610>, 'sql': 'STRPTIME(TRY_CAST("StartDate" AS VARCHAR), CAST(\'%Y-%m-%d %H:%M:%S\' AS VARCHAR))', '_node_data': {'label': 'start_date', 'name': 'start_date', 'data_type': 'TIMESTAMP', 'var_type': 'timestamp', 'type': "<class 'tyr.lineage.columns.Core'>", 'base': "<class 'tyr.lineage.core._Column'>", 'unit': '', 'macro_group': '', 'sql': 'STRPTIME(TRY_CAST("StartDate" AS VARCHAR), CAST(\'%Y-%m-%d %H:%M:%S\' AS VARCHAR))'}, 'graph': <tyr.lineage.core.LineageGraph object at 0x7f42983523d0>}


Primary Key:
['session_key']


SQL:
SELECT DISTINCT TRY_CAST("Key" AS INT) AS session_key,
                TRY_CAST("Type" AS VARCHAR) AS type,
                TRY_CAST("Name" AS VARCHAR) AS name,
                STRPTIME(TRY_CAST("StartDate" AS VARCHAR), CAST('%Y-%m-%d %H:%M:%S' AS VARCHAR)) AS start_date,
                STRPTIME(TRY_CAST("EndDate" AS VARCHAR), CAST('%Y-%m-%d %H:%M:%S' AS VARCHAR)) AS end_date,
                TRY_CAST("GmtOffset" AS INTERVAL) AS gmt_offset,
                TRY_CAST("Path" AS VARCHAR) AS path
FROM source.sessions AS sessions


Schema name:
staging


Source table name:
source.sessions

______________________________________________________________________________________________________________________________________________________
# Retreiving attributes to root
Attributes can be chained until no root attribute exists

In [11]:
# Schema
print(staging)
print(staging.name)

<tyr.lineage.schema.staging.Staging object at 0x7f4293205190>
staging

In [12]:
# Schema tables
print(staging.tables)
print(staging.tables.list_names())

<tyr.lineage.core.TableList object at 0x7f429868bcd0>
['car_location', 'car_telemetry', 'circuits', 'meetings', 'race_control', 'session_status', 'track_status', 'sessions', 'weather', 'results']

In [13]:
# car_telemetry table
print(staging.tables.car_telemetry)
# TableList can also be accessed with string index
print(staging.tables["car_telemetry"].name)

<tyr.lineage.tables.Core object at 0x7f42985bb280>
car_telemetry

In [14]:
# car_telemetry columns
print(staging.tables.car_telemetry.columns)
print(staging.tables.car_telemetry.columns.list_names())

<tyr.lineage.core.ColumnList object at 0x7f42985bb460>
['event_ts', 'rpm', 'kmh', 'n_gear', 'throttle', 'brake', 'drs', 'source', 'meeting_time', 'session_time', 'driver_number']

In [15]:
# kmh column in car_telemetry
print(staging.tables.car_telemetry.columns.kmh)
# kmh column name
print(staging.tables.car_telemetry.columns.kmh.name)
# check attributes of kmh
print(rf"var_type: {staging.tables.car_telemetry.columns.kmh.var_type}")
print(rf"data_type: {staging.tables.car_telemetry.columns.kmh.data_type.value}")
print(rf"unit: {staging.tables.car_telemetry.columns.kmh.unit.name}")
print(rf"sql: {staging.tables.car_telemetry.columns.kmh.sql}")

<tyr.lineage.columns.Core object at 0x7f4298560df0>
kmh
var_type: numeric
data_type: FLOAT
unit: km^1h^-1
sql: ROUND(TRY_CAST("Speed" AS FLOAT), 1)

In [16]:
# kmh column source in car_telemetry - math ROUND function
print(staging.tables.car_telemetry.columns.kmh.source)
# At any point we can query sql. This will display sql down to the root level
print(staging.tables.car_telemetry.columns.kmh.source.sql)

<tyr.lineage.functions.math.Round object at 0x7f4298560e20>
ROUND(TRY_CAST("Speed" AS FLOAT), 1)

In [17]:
# math ROUND function arg[0] - data_type TRYCAST function
print(staging.tables.car_telemetry.columns.kmh.source.args[0])
print(staging.tables.car_telemetry.columns.kmh.source.args[0].sql)

<tyr.lineage.functions.data_type.TryCast object at 0x7f4298560e50>
TRY_CAST("Speed" AS FLOAT)

In [18]:
# data_type TRYCAST function arg[0] - expression AS
print(staging.tables.car_telemetry.columns.kmh.source.args[0].args[0])
print(staging.tables.car_telemetry.columns.kmh.source.args[0].args[0].sql)

<tyr.lineage.expressions.As object at 0x7f4298560e80>
"Speed" AS FLOAT

In [19]:
# expression AS left object - utility function SourceWildToStaging <- This initializes the lineage tree for column objects
print(staging.tables.car_telemetry.columns.kmh.source.args[0].args[0].left)
# We can check which attributes are available to query using the .__dict__ method
pprint(staging.tables.car_telemetry.columns.kmh.source.args[0].args[0].left.__dict__)

<tyr.lineage.functions.utility.SourceWildToStagingColumn object at 0x7f4298560f70>
{'_node_data': {'base': "<class 'tyr.lineage.core._Function'>",
                'data_type': '',
                'label': 'SOURCE_WILD_TO_STAGING_COLUMN',
                'macro_group': 'StagingColumnTransform - 139923903208272',
                'sql': '"Speed"',
                'type': '<class '
                        "'tyr.lineage.functions.utility.SourceWildToStagingColumn'>",
                'unit': 'km^1h^-1',
                'var_type': ''},
 'args': [<tyr.lineage.columns.WildCard object at 0x7f429865e070>,
          <tyr.lineage.schema.source.ColumnMetadata object at 0x7f42986f7fa0>],
 'data_type': None,
 'distinct': False,
 'framing': None,
 'graph': <tyr.lineage.core.LineageGraph object at 0x7f4298560fa0>,
 'is_event_time': False,
 'is_primary_key': False,
 'name': 'SOURCE_WILD_TO_STAGING_COLUMN',
 'order_by': <tyr.lineage.core.OrderBy object at 0x7f4298615220>,
 'partition_by': <tyr.lineage.core.PartitionBy object at 0x7f42986151c0>,
 'sql': '"Speed"',
 'unit': <units.core.Unit object at 0x7f42986fa0a0>,
 'var_type': None}

In [20]:
# Get WildCard column from SourceWildToStaging
print(staging.tables.car_telemetry.columns.kmh.source.args[0].args[0].left.args[0])

# We can check the current table of this object to determine the source table
print(
    "Source table: "
    + staging.tables.car_telemetry.columns.kmh.source.args[0]
    .args[0]
    .left.args[0]
    .current_table.schema.name
    + "."
    + staging.tables.car_telemetry.columns.kmh.source.args[0]
    .args[0]
    .left.args[0]
    .current_table.name
)

<tyr.lineage.columns.WildCard object at 0x7f429865e070>
Source table: source.car_telemetry

In [21]:
# The WildCard value is the root object and therefore has no source
print(
    staging.tables.car_telemetry.columns.kmh.source.args[0]
    .args[0]
    .left.args[0]
    .source.__dict__
)

{'value': <class 'tyr.lineage.operators.WildCard'>, 'name': '*', 'data_type': <tyr.lineage.values.Datatype object at 0x7f429865e0d0>, 'var_type': None, 'unit': <units.core.Unit object at 0x7f429865e100>, 'sql': '*', '_node_data': {'label': 'WILDCARD', 'data_type': 'WILDCARD', 'var_type': '', 'type': "<class 'tyr.lineage.values.WildCard'>", 'base': "<class 'tyr.lineage.core._Value'>", 'unit': '', 'macro_group': '', 'sql': '*'}, 'graph': <tyr.lineage.core.LineageGraph object at 0x7f429865e5b0>}